@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp(".*myself-bbs.com.*")  {
  
  body{background:#333333 url() no-repeat center 0;background-attachment: fixed;}
  
  #scbar{display:none !important;}
  .bml{display:none !important;}
  #scrolltop{display:none !important;}
  
  .head_logo {padding-top: 0px;}
  .head_yn {height: 160px;}
  
  .c_yt{display:none !important;}
  

}

@-moz-document regexp(".*http://myself-bbs.com/thread.*")  {
  
  .fancybox-skin{
    padding-top: 15px!important;
    padding-bottom: 15px!important;
    padding-right: 15px!important;
    padding-left: 15px!important;
    background: #222222!important;}  

  
  .fancybox-wrap,.fancybox-desktop,.fancybox-type-iframe,.fancybox-opened{
    width: 800px!important;
    height:540px!important;
   }

  .fancybox-inner{
    height: 450px!important;
    width: 800px!important;}
  
  
}