@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp(".*oiihk.com/anime/play.*")  {
  
body {
    background-color: #222!important;
}
  
.thumbnail,.thumbnail2,.well {
    background-color: #222!important;
    border: 1px solid #222!important;
}

.navbar-right{display:none !important;}
  
[color="red"]{display:none !important;}
  

.jumbotron{display:none !important;}

.alert-warning {
    color: #222!important;
    background-color: #222!important;
    border-color: #222!important;
}
  
}