@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp(".*myself-bbs.com.*")  {
  
  body{background:#333333 url() no-repeat center 0;background-attachment: fixed;}
  
  #scbar{display:none !important;}
  .bml{display:none !important;}
  #scrolltop{display:none !important;}
  
  .head_logo {padding-top: 0px;}
  .head_yn {height: 160px;}
  .c_yt{display:none !important;}

}

@-moz-document regexp(".*http://myself-bbs.com/thread.*")  {
  
  .fancybox-skin{
    padding-top: 1px!important;
    padding-bottom: 1px!important;
    padding-right: 1px!important;
    padding-left: 1px!important;
    background: #222222!important;}  
  
  .fancybox-wrap,.fancybox-desktop,.fancybox-type-iframe,.fancybox-opened{
    width: 800px!important;
    height:540px!important;
    position: fixed!important;
    top: 0px!important;
    left: 0px!important;}
   

  .fancybox-inner{
    height: 500px!important;
    width: auto!important;}


  
}

