@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp(".*ptt.cc.*") {
  
  #navigation-container{display:none !important;}

}


@-moz-document regexp("https://www.ptt.cc/bbs/.*M..*") {
 
  /**/  
}


@-moz-document regexp("https://www.ptt.cc/bbs/.*/index.*") {
 
  .meta,.nrec{font-size:70%;}
 
  .bbs-screen {color: hsla(350, 0%, 50%, 0.5);line-height: 100%;word-wrap: break-word;}
  
}